<!-- Formulario Editar Animal -->
<div class="container mt-5">
    <form [formGroup]="editAnimal" (ngSubmit)="onSubmit()">
        <div class="row justify-content-center" *ngIf="animalToEdit">

            <!-- Campo Nombre -->
            <div class="col-8 col-lg-4 mb-3  me-1">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" formControlName="nombre">
                <p class="error" *ngIf="checkControl('nombre','minlength')">El campo tiene que tener mínimo 2 caracteres
                </p>
                <p class="error" *ngIf="checkControl('nombre','maxlength')">El campo tiene que tener máximo 20 caracteres</p>
            </div>

            <!-- Campo Fecha De Entrada -->
            <div class="col-8 col-lg-4 mb-3 me-1">
                <label class="form-label">Fecha de entrada</label>
                <input type="date" class="form-control" [max]="currentDate" formControlName="fechaEntrada">
            </div>

            <!-- Campo Raza -->
            <div class="col-8 col-lg-4 mb-3 me-1">
                <label class="form-label">Raza</label>
                <input type="text" class="form-control" formControlName="raza">
                <p class="error" *ngIf="checkControl('nombre','minlength')">El campo tiene que tener mínimo 3 caracteres
                </p>
                <p class="error" *ngIf="checkControl('nombre','maxlength')">El campo tiene que tener máximo 15
                    caracteres</p>
            </div>

            <!-- Campo Tipo -->
            <div class="col-8 col-lg-4 mb-3 me-1">
                <label class="form-label">Tipo</label>
                <select formControlName="tipo" class="form-select">
                    <option selected value="Perro">Perro</option>
                    <option value="Gato">Gato</option>
                    <p class="error" *ngIf="checkControl('tipo','required')">El campo es obligatorio</p>
                </select>
            </div>

            <!-- Campo Edad -->
            <div class="col-8 col-lg-4 mb-3 me-1">
                <label class="form-label">Edad</label>
                <input type="number" class="form-control" formControlName="edad">
                <p class="error" *ngIf="checkControl('edad','agevalidator')">{{
                    editAnimal.get('edad')?.errors?.['agevalidator'] }}</p>
            </div>

            <!-- Campo Tamaño -->
            <div class="col-8 col-lg-4 mb-3 me-1">
                <label class="form-label">Tamaño</label>
                <select formControlName="tamaño" class="form-select">
                    <option selected value="Pequeño">Pequeño</option>
                    <option value="Mediano">Mediano</option>
                    <option value="Grande">Grande</option>
                    <p class="error" *ngIf="checkControl('tamaño','required')">El campo es obligatorio</p>
                </select>
            </div>

            <!-- Campo Salud -->
            <div class="col-8 col-lg-4 mb-3 me-1">
                <label class="form-label">Salud</label>
                <input type="text" class="form-control" formControlName="salud">
                <p class="error" *ngIf="checkControl('salud','required')">El campo es obligatorio</p>
            </div>

            <!-- Campo Género -->
            <div class="col-8 col-lg-4 mb-3 me-1">
                <label class="form-label">Sexo</label>
                <select formControlName="sexo" class="form-select">
                    <option selected value="Hembra">Hembra</option>
                    <option value="Macho">Macho</option>
                    <p class="error" *ngIf="checkControl('sexo','required')">El campo es obligatorio</p>
                </select>
            </div>

            <!-- Campo Prioridad -->
            <div class="col-8 col-lg-4 mb-3 me-1">
                <label class="form-label">Urgencia</label>
                <select formControlName="urgencia" class="form-select">
                    <option selected value="Poco">Poco</option>
                    <option value="Media">Media</option>
                    <option value="Grave">Grave</option>
                    <p class="error" *ngIf="checkControl('urgencia','required')">El campo es obligatorio</p>
                </select>
            </div>

            <!-- Campo Fecha De Entrega (Adopción/Acogida) -->
            <div class="col-8 col-lg-4 mb-3 me-1">
                <label class="form-label">Fecha de entrega</label>
                <input type="date" class="form-control" formControlName="fechaEntrega">
            </div>

            <!-- Campo Status -->
            <div class="col-8 mb-3 me-1">
                <label class="form-label">Estado</label>
                <select formControlName="status" class="form-select">
                    <option selected value="Disponible">Disponible</option>
                    <option value="Adoptado">Adoptado</option>
                    <option value="Reservado">Reservado</option>
                    <option value="Acogido">Acogido</option>
                    <option value="ProcesoAdapatacion">En proceso de adaptación</option>
                    <p class="error" *ngIf="checkControl('status','required')">El campo es obligatorio</p>
                </select>
            </div>

            <!-- Campo Descripción -->
            <div class="col-8 mb-3 me-1">
                <label class="form-label">Descripción</label>
                <textarea type="text" class="form-control" formControlName="descripcion"></textarea>
                <p class="error" *ngIf="checkControl('nombre','maxlength')">El campo tiene que tener máximo 245 caracteres</p>
            </div>

            <!-- Campo Persona Asociada Animal (Adoptado/Acogido) -->
            <div class="col-8 mb-4 me-1" *ngIf="authorizated">
                <label class="form-label">Persona asociada</label>

                <div class="input-group" *ngIf="!animalToEdit.id_persona">
                    <label class="input-group-text" for="inputGroupSelect">Selecciona una persona</label>
                    <input value="" class="form-control rounded-end" list="datalistOptions" placeholder="Buscar..."
                        (change)="setIdEntity($event)">
                    <datalist id="datalistOptions">
                        <option [value]="ent.id_persona + ' - ' + ent.nombre + ' ' + ent.apellido"
                            *ngFor="let ent of arrEntities">DNI: {{ ent.dni }}</option>
                    </datalist>
                </div>

                <div class="d-flex" *ngIf="entity">
                    <button class="p-2 w-75 border rounded-start bg-white"
                        [routerLink]="['/cuadro-mandos/editar-persona', animalToEdit.id_persona]">
                        {{ entity.nombre }} {{ entity.apellido }}. DNI: {{ entity.dni }}
                    </button>
                    <p class="m-0 p-2 w-25 text-center btn border border-danger rounded-0 rounded-end text-danger bg-white" (click)="deleteEntity()">Deshacer</p>
                </div>
            </div>

            <!-- Sección Editar Imágenes -->
            <div class="col-8 mb-3 mx-1" *ngIf="!animalToEdit.imagenes; else elseBlock">
                <label class="form-label">Imágenes <small>(Máximo 4)</small></label>
                <input class="form-control" type="file" formControlName="imagenes" multiple
                    (change)="uploadImages($event)">
            </div>

            <ng-template #elseBlock>
                <div class="col-7 mb-3 card p-4">
                    <div *ngFor="let image of animalToEdit.imagenes">
                        <div class="card p-2  my-2 mx-5 px-4" *ngIf="image != 'undefined'">
                            <div class="d-flex ">
                                <p class="my-0 me-2 overflow-auto ">{{ image }}</p>
                                <a class="ms-auto"
                                    [routerLink]="['/cuadro-mandos', 'editar-animal', animalToEdit.id_animal , 'imagen', image]">
                                    <i class="bi bi-eye text-primary"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="my-2 text-center">
                        <p class="btn btn-white border border-danger text-danger m-0" (click)="deleteImages()">Eliminar
                            Fotos</p>
                        <p class="text-danger m-0" *ngIf="message2">{{ message2 }}</p>
                    </div>
                </div>
            </ng-template>

            <!-- Campo Activo (Borrado lógico) -->
            <div class="col-8 mb-3 mx-1 text-center">
                <input type="checkbox" formControlName="isActive"> Activo
            </div>

            <!-- Botones de Envío y Cancelar -->
            <div class="col-8 my-3 mx-1 text-center">
                <button [routerLink]="['/cuadro-mandos', 'animales']"
                    class="btn btn-white text-danger border border-danger mx-2 px-2">Cancelar</button>
                <input type="submit" value="Editar" class="btn btn-danger px-3" [disabled]="!editAnimal.valid">
                <p class="text-danger m-0" *ngIf="message1">{{ message1 }}</p>
            </div>
        </div>
    </form>
</div>
<router-outlet></router-outlet>