/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Centrar Caja Login */
.forgotBody {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-control {
    height: 30px;
}

p {
    font-size: 12px;
}

.card {
    border-radius: 12px;
}