<!-- Tarjeta Superior  -->
<div class="tarjeta">
    <div class="row g-0 flex-column-reverse flex-lg-row">
        <div class="cajaTexto col-lg-6">
            <div class="h-100">
                <h3 class="card-title mb-4 text-center">La protectora</h3>
                <p class="card-text text-center">La protectora de 'Madrid al Rescate' es una organización sin ánimo de
                    lucro que
                    surgió ante la
                    necesidad de atender, proteger y defender a los animales abandonados.</p>
            </div>
        </div>
        <div class="col-lg-6">
            <img class="card-img img-fluid right-img" src="assets/images/fotoPerroGato1.jpg" alt="fotoPerroGato1" />
        </div>
    </div>
</div>

<!-- Tarjeta Medio -->
<div class="tarjeta">
    <div class="row g-0">
        <div class="col-lg-6">
            <img class="card-img img-fluid left-img" src="assets/images/fotoGato2.jpg" alt="fotoGato2" />
        </div>
        <div class="cajaTexto col-lg-6">
            <div class="h-100">
                <h3 class="card-title mb-4 text-center">Servicios</h3>
                <p class="card-text text-center">Ofrecemos a nuestros animales la oportunidad de ser felices.</p>
                <ul>
                    <li>Recogemos animales que han sido abandonados. </li>
                    <li>Buscamos casas de acogida hasta que logramos encontrarles un hogar final.</li>
                    <li>Ayudamos a los nuevos a aclimatarse con el resto de animales y con las personas, es un
                        proceso que
                        require de tiempo y paciencia.</li>
                    <li>Cubrimos sus necesidades fisiológias, así como veterinarias.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Tarjeta Inferior -->
<div class="tarjeta">
    <div class="row g-0 flex-column-reverse flex-lg-row">
        <div class="cajaTexto col-lg-6">
            <div class="h-100">
                <h3 class="card-title mb-4 text-center">¿Qué podemos hacer?</h3>
                <p class="card-text text-center"> Cada uno de nosotros podemos poner nuestro granito de arena. Aquí te
                    dejamos
                    algunas ideas:</p>
                <ul>
                    <li>Concienciar a la población sobre la responsabilidad hacia los animales. </li>
                    <li>Identificar correctamente a los animales para conseguir aumentar la recuperación de
                        aquellos que
                        se pierden.</li>
                    <li>Esterilizar para evitar camadas no deseadas.</li>
                    <li>Educar tanto a los animales como a los humanos para conocernos mejor y así mejorar el
                        vínculo y
                        la convivencia.</li>
                    <li>Impulsar la adopción para darles un nuevo hogar a los abandonados.</li>
                    <li>Reforzar las leyes y la educación para lograr un mayor compromiso y cumplimiento.</li>
                    <li>Apoyar proyectos que difundan y aboguen por la adopción para darles mayor visibilidad.
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <img class="card-img img-fluid right-img" src="assets/images/fotoPerro2.jpg" alt="fotoPerro2" />
        </div>
    </div>
</div>