* {

    padding: 0;
    box-sizing: border-box;
}

/* Centrar Caja forgot */
.forgotBody {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Dimensiones caja forgot password */
.card {
    width: 500px;
    height: 350px;
    padding: 40px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35)0px 5px 15px;

}

.email {

    width: 400px;
}