<div class="container my-4">
    <div class="row justify-content-center">
        <div class="mb-3 text-center text-dark">
            <h2>Encuentra aquí a tu compañero</h2>
        </div>

        <!-- Filtros Búsqueda Tipo/Sexo/Tamaño De Catálogo Animales -->
        <div class="col-12 col-sm-3 col-lg-2 mb-2 mt-lg-2">
            <select (change)="typeSelector($event)" class="form-select type" aria-label="Default select example">
                <option selected disabled value="Tipo de animal">Tipo</option>
                <option value="Perro">Perro</option>
                <option value="Gato">Gato</option>
            </select>
        </div>
        <div class="  col-12 col-sm-5 col-md-2 mb-2 mt-lg-2">
            <select (change)="genderSelector($event)" class="form-select gender" aria-label="Default select example">
                <option selected disabled value="">Sexo</option>
                <option value="Hembra">Hembra</option>
                <option value="Macho">Macho</option>
            </select>
        </div>
        <div class=" col-12 col-sm-4 col-lg-2 mb-2 mt-lg-2">
            <select (change)="sizeSelector($event)" class="form-select size" aria-label="Default select example">
                <option selected disabled value="">Tamaño</option>
                <option value="Pequeño">Pequeño</option>
                <option value="Mediano">Mediano</option>
                <option value="Grande">Grande</option>
            </select>
        </div>

        <!-- Botones Filtros (Filtrar/Borrar) -->
        <button
            class=" col-5 col-sm-3 col-md-2 col-lg-2 mx-sm-2 mt-2 mt-md-0 mt-lg-2 ms-md-5 text-center btn border border-danger btn-danger"
            (click)="filter()">Filtrar</button>

        <button
            class="col-5 offset-1 offset-sm-0 col-sm-3 col-md-auto col-lg-2 mt-2 mx-sm-2 mt-md-0 mx-md-0 mt-lg-2 btn btn-white border border-danger text-danger"
            (click)="eraser()">Borrar
            filtros</button>
    </div>

    <!-- Tabla Lista Animales -->
    <div class="row mt-3 g-4 justify-content-center justify-content-sm-start">
        <div *ngFor="let animal of paginatedAnimals" class="col-8 col-sm-6 col-md-4 col-lg-3">
            <app-animal-card [myAnimal]="animal"></app-animal-card>
        </div>
    </div>

    <!-- Botones Página Anterior/Siguiente -->
    <div class="botones text-center mt-5 d-flex justify-content-center align-items-center"
        *ngIf="paginatedAnimals.length > 0">
        <button class="btn btn-danger me-3" (click)="prev()" [disabled]="this.page < 1">Anterior</button>
        <p class=" my-0">{{ (this.page / 8) + 1 }}/{{ totalPages }}</p>
        <button class="btn btn-danger ms-3" (click)="next()"
            [disabled]="this.page > this.tempAnimals.length - 8">Siguiente</button>
    </div>

    <!-- Mensaje Búsqueda Sin Resultados -->
    <div class="d-flex justify-content-center mt-5" *ngIf="paginatedAnimals.length < 1">
        <p class="m-0 text-danger"> {{ message }} </p>
    </div>
</div>