<!-- Footer -->
<footer class="text-center text-lg-start bg-danger text-light mt-5">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Visita nuestras Redes Sociales:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="https://www.facebook.com/madridalrescate" class="me-4 text-reset">
        <i class="bi bi-facebook"></i>
      </a>

      <a href="https://www.instagram.com/madrid_al_rescate/" class="me-4 text-reset">
        <i class="bi bi-instagram"></i>
      </a>

    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  
 
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="">MADRID AL RESCATE</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->